{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un jeu | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(gameForm) }}
        {{ form_widget(gameForm) }}
        <button>Ajouter !</button>
        {{ form_end(gameForm) }}
    </div>
{% endblock %}